<ion-view title="Plans" cache-view="false">
    <ion-nav-buttons side = "left">
         <button class="button button-icon button-clear button-dark">
            <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
         </button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <div style="height:95%; overflow:scroll" class="bg-lightgrey">
            <div ng-if="news.type === 'image'">
                <div class="card image" ng-repeat="(key, value) in news.items" ng-if="value.state.visible === true">
                    <div class="item item-image">
                        <img ng-src="{{post.image}}">
                        <div class="item item-avatar" ui-sref="tabs.post-detail({plan:key})">
                            <img ng-src="{{value.photo}}">
                            <h2>{{value.title}}</h2>
                            <p>{{value.description}}</p>
                            <p>{{value.notes}}</p>
                            <p>{{ value.time }}</p>
                        </div>
                        <i class="icon ion-minus-circled" ng-click="delete(key)"></i>
                        <i class="icon ion-edit" ui-sref="tabs.create-plan({plan:key, mode:'edit'})"></i>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="plansPopover.show($event);"><i class="icons ion-ios-plus" style="color: white"></i></a>
</ion-view>
